extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th Full Name
        th Email
        th Created At
    tbody
      each user in users
        tr
          td= user.fullName
          td= user.email
          td= user.createdAt
