extends ../layouts/application.pug

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'email')()
    +input(user, 'firstName')()
    +input(user, 'lastName')()
    +submit()
