extends ../layouts/application.pug

block content
  form(action=getUrl('users')  method='post')
    +input('email', 'text', getText('forms.email'), getText('forms.email'))
    +input('firstName', 'text', getText('forms.firstName'), getText('forms.firstName'))
    +input('lastName', 'text', getText('forms.lastName'), getText('forms.lastName'))
    +input('password', 'password', getText('forms.password'), getText('forms.password'))
    .form-group
      input.btn.btn-primary(type='submit' value=getText('controls.signUp'))
