extends ../layouts/application.pug

block content
  form(action=route('users')  method='post')
    +input('email', 'text', t('forms.email'), t('forms.email'))
    +input('firstName', 'text', t('forms.firstName'), t('forms.firstName'))
    +input('lastName', 'text', t('forms.lastName'), t('forms.lastName'))
    +input('password', 'password', t('forms.password'), t('forms.password'))
    .form-group
      input.btn.btn-primary(type='submit' value=t('controls.signUp'))
