extends ../layouts/application.pug

block content
  form(action=getUrl('session')  method='post')
    +input('email', 'text', getText('forms.email'), getText('forms.email'))
    +input('password', 'password', getText('forms.password'), getText('forms.password'))
    .form-group
      input.btn.btn-primary(type='submit' value=getText('controls.signIn'))
